node_modules
dist
build
coverage
.nyc_output

.git
.gitignore
.github

.env
.env.*
!.env.example

cypress
cypress.config.ts
**/*.test.ts
**/*.test.tsx
**/*.stories.tsx
storybook-static

snyk-report.html
docs

.DS_Store
.vscode
.idea
*.log
