#for local development. Never put real secrets here!
VITE_POSTGRESQL_HOSTNAME=localhost
VITE_POSTGRESQL_PORT=5555
VITE_MONGODB_HOSTNAME=localhost
VITE_MONGODB_PORT=27017
VITE_MONGODB_TLS=false
VITE_ADMINER_URL=http://localhost:8080/
VITE_ADMINER_POSTGRESQL_SERVER=pg_cluster:5432
VITE_API_URL=/v1
