BACKEND_IMAGE=gl-ai.f4.htw-berlin.de:5005/s0583511/ocean/backend:latest
FRONTEND_IMAGE=gl-ai.f4.htw-berlin.de:5005/s0583511/ocean/frontend:latest
BACKEND_PULL_POLICY=always
FRONTEND_PULL_POLICY=always

OCEAN_HOSTNAME=ocean-jg.f4.htw-berlin.de
