APPLICATION_SECRET={{ ocean_application_secret }}
JWT_SECRET={{ ocean_jwt_secret }}
HOST_IP={{ ansible_host }}

# Internal ORM database, local to app-vm.
SLICK_DB_URL=jdbc:postgresql://postgres_orm:5432/internal
SLICK_DB_USER=postgres
SLICK_DB_PASSWORD={{ ocean_postgres_orm_password }}

# Managed Postgres cluster.
PG_CLUSTER_HOSTNAME={{ hostvars[groups['pg'][0]].ansible_host }}
PG_CLUSTER_PORT=5432
PG_CLUSTER_DATABASE=internal
PG_CLUSTER_USER=postgres
PG_CLUSTER_PASSWORD={{ ocean_pg_cluster_password }}
PG_CLUSTER_SSLMODE=verify-full

# Managed MongoDB cluster.
MONGODB_CLUSTER_HOSTNAME={{ hostvars[groups['mongo'][0]].ansible_host }}
MONGODB_CLUSTER_PORT=27017
MONGODB_CLUSTER_DATABASE=admin
MONGODB_CLUSTER_USER=root
MONGODB_CLUSTER_PASSWORD={{ ocean_mongodb_cluster_password }}
MONGODB_CLUSTER_TLS=true

# HTW LDAP.
LDAP_HOST=login-dc-03.login.htw-berlin.de
LDAP_PORT=636
LDAP_START_TLS=false
LDAP_USE_SSL=true
LDAP_NAME=cn=%USER%,%USER_ROOT%
LDAP_USER_ROOT=ou=idmusers,dc=login,dc=htw-berlin,dc=de
