BACKEND_IMAGE={{ backend_image }}
FRONTEND_IMAGE={{ frontend_image }}
BACKEND_PULL_POLICY={{ app_image_pull_policy }}
FRONTEND_PULL_POLICY={{ app_image_pull_policy }}

OCEAN_HOSTNAME={{ ocean_hostname }}
